{% extends "base.html" %}

{% block content %}
<div class="container">
{% if accounts %}

<ul class="list-group">
{% for account in accounts %}
<li class="list-group-item">
    <h2>{{ account.nickname }}</h2>
    {% if account.account_number is defined and account.account_number != "" %}
    <p><b>Account Number: </b>{{ account.account_number }}</p>
    {% endif %}
    <p><b>Type: </b>{{ account.account_type.name }}</p>
    <p><b>Rewards: </b>{{ account.rewards }}</p>
    <p><b>Balance: </b>{{ account.balance }}</p>

    {% if account.loan_data|length > 0 %}
    <h4>Loans:</h4>
    <table class="table">
        <thead>
            <th scope="col">Monthly Payment</th>
            <th scope="col">Total Amount</th>
        </thead>
        <tbody>
            {% for loan in account.loan_data %}
            <tr>
                <td>{{ loan[0] }}</td>
                <td>{{ loan[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</li>
{% endfor %}
</ul>

{% else %}
<h1>No accounts found</h1>
{% endif %}
</div>
{% endblock %}